.avatar img{
    width: 40px;
   height: 40px;
   border-radius: 50%;
    
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.logo-login{
    margin-top: 100px;
    
}

canvas{
    margin:10px auto;
}